<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.gesta.config.InitialisationDaoFactory</listener-class>
  </listener>
  <servlet>
    <servlet-name>accueil</servlet-name>
    <servlet-class>com.gesta.servlets.accueil</servlet-class>
  </servlet> 
  <servlet-mapping>
    <servlet-name>accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>users</servlet-name>
    <servlet-class>com.gesta.servlets.users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersConnexion</servlet-name>
    <servlet-class>com.gesta.servlets.usersConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersConnexion</servlet-name>
    <url-pattern>/usersConnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersDeconnexion</servlet-name>
    <servlet-class>com.gesta.servlets.usersDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersDeconnexion</servlet-name>
    <url-pattern>/users/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>usersListe</servlet-name>
    <servlet-class>com.gesta.servlets.usersListe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersListe</servlet-name>
    <url-pattern>/users/liste</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.gesta.servlets.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stagesAjout</servlet-name>
    <servlet-class>com.gesta.servlets.stagesAjout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stagesAjout</servlet-name>
    <url-pattern>/stages/ajout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stagesListe</servlet-name>
    <servlet-class>com.gesta.servlets.stagesListe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stagesListe</servlet-name>
    <url-pattern>/stages/liste</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>stagesView</servlet-name>
    <servlet-class>com.gesta.servlets.stagesView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stagesView</servlet-name>
    <url-pattern>/stages/view/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stagesEdit</servlet-name>
    <servlet-class>com.gesta.servlets.stagesEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stagesEdit</servlet-name>
    <url-pattern>/stages/edit/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GestionTestJDBC</servlet-name>
    <servlet-class>com.gesta.servlets.GestionTestJDBC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionTestJDBC</servlet-name>
    <url-pattern>/testjdbc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>com.gesta.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test2</servlet-name>
    <servlet-class>com.gesta.servlets.test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test2</servlet-name>
    <url-pattern>/stageEdit</url-pattern>
  </servlet-mapping> 
  <servlet>
    <servlet-name>adminUsers</servlet-name>
    <servlet-class>com.gesta.servlets.adminUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminUsers</servlet-name>
    <url-pattern>/admin/users/*</url-pattern>
  </servlet-mapping> 
  
  <filter>
    <filter-name>FilterConnexion</filter-name>
    <filter-class>com.gesta.filters.FilterConnexion</filter-class>
  </filter> 
  <filter-mapping>
    <filter-name>FilterConnexion</filter-name>
    <url-pattern>/users/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterConnexion</filter-name>
    <url-pattern>/home/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterConnexion</filter-name>
    <url-pattern>/stages/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterConnexion</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>FilterAccesRights</filter-name>
    <filter-class>com.gesta.filters.FilterAccesRights</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAccesRights</filter-name>
    <url-pattern>/users/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAccesRights</filter-name>
    <url-pattern>/home/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAccesRights</filter-name>
    <url-pattern>/stages/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FilterAccesRights</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <jsp-config>
    <jsp-property-group>
        <url-pattern>*.jsp</url-pattern>
        <trim-directive-whitespaces>true</trim-directive-whitespaces>
     </jsp-property-group>
  </jsp-config>
</web-app>